*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
body{
    background: #f1f1f1;
}

nav{
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    display: inline-block;
}

nav .container{
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    margin: 0 auto;
    text-align: center;
}

nav .container .icon{
    margin-bottom: 10px;
}

nav .container .texterror{
    margin-bottom: 20px;
}
nav .container .texterror p{
    font-size: 1.5rem;
    
}

nav .container .logo{
    
    align-items: center;
    text-align: center;
    width: 440px;
    margin: auto;
    min-height: 27.67px ;
}
/*nav .container .logo .logocontainer{
    margin-right: 5px;
    display: block;
    float: left;
    margin: auto;
}*/

nav .container .logo a img{
    height: 30px;
    margin-left: 41px ;
}

nav .container .logo a{
    color: #167ac6;
    float: left;
    margin-right: 5px;
}

/*
nav .container .logo form input{
    height: 27.67px;
    outline: none;
    padding: 2px 6px;
    width: 225.66px;
    border: 1px solid transparent;
    margin-right: 0;
    border-color: #d3d3d3;
    min-height: 27.67px;
}

nav .container .logo form button{
    background-color:#f8f8f8;
    height: 27.67px;
    border: 1px solid transparent;
    border-color: #d3d3d3;
    transition: all 300ms ease;
}

nav .container .logo form button:hover{
    color: rgb(71,7,234);
    cursor: pointer;
}

nav .container .logo form button img{
    height: 27.67px;
}
*/

nav .search-bar{
    width: 255.66px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color:#86848c;
    height: 27.67px;
    border: 1px solid transparent;
    border-color: #d3d3d3;
    padding-left: 1rem;
    background-color: white;
}

nav .search-bar span{
    border: 0 solid transparent;
    border-color: #d3d3d3;
    background-color:#f8f8f8;
    width: 66px;
    transition: all 500ms ease;
}

nav .search-bar input[type="search"]{
    color: #27282f;
    background: transparent;
    width: 100%;

}

nav .search-bar span:hover{
    color: black;
    cursor: pointer;
}



